<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias maiores aut obcaecati illo deserunt expedita veniam exercitationem, unde magni! Ducimus rerum repellat, repellendus non quam magni cum ipsum nihil a.</p>

<%- include("footer") -%>
