<%- include("header") -%>

<h2>This is about section</h2>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam, culpa? Nobis laudantium et aut incidunt dolorum, accusantium nostrum itaque eveniet!</p>


<%- include("footer") -%>